* {
    /*Universal Reset (get rids of the spaces) */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
}

.upper-section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("italy_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    /* border: 10px solid; */
}

#tourist-section {
    background-color: #202020;
    min-height: 100vh;
}

#flag-icon {
    max-height: 100px;
    max-width: 100px;
    display: block;
    margin: 10px;
}

#flag-icon:hover {
    color: black;
    box-shadow: 0 0 25px black,
        0 0 25px black;
    transform: scale(1.1);
}

.header {
    /* border: solid; */
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.navbar {
    min-width: 50%;
    /* border: solid; */
    display: flex;
    justify-content: space-evenly;
    gap: 100;
}

.navbar a {
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

#nav-1:hover {
    color: green;
    text-shadow: 0 0 25px green,
        0 0 25px green;
    transform: scale(1.1);
}

#nav-2:hover {
    color: white;
    text-shadow: 0 0 25px white,
        0 0 25px white;
    transform: scale(1.1);
}

#nav-3:hover {
    color: red;
    text-shadow: 0 0 25px red,
        0 0 25px red;
    transform: scale(1.1);
}

.flag-container {
    /* border: solid; */
    display: flex;
    position: relative;
}

#green,
#white,
#red {
    /* border: solid; */
    min-width: 33.33%;
    min-height: 500px;
}

#green {
    /* background-color: green; */
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(0, 128, 0, 1));
}

#white {
    /* background-color: white; */
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(255, 255, 255, 1));
}

#red {
    /* background-color: red; */
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
}

#welcome {
    /* border: solid; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcome h1 {
    border: solid;
    font-size: 100px;
    font-family: 'Spectral', serif;
    text-align: center;
}

#hand {
    width: 100px;
    /* #hand needs a width so #hand-icon knows what to scale to */
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: solid; */
    text-align: center;
    font-size: 30px;
}

#hand-icon {
    height: auto;
    width: 100px;
    margin: -15px;
    /* border: solid; */
    border-radius: 50%;
}

#hand a {
    color: black;
}

#hand-icon:hover {
    background-color: white;
    color: white;
    box-shadow: 0 0 25px white,
        0 0 25px white;
    transform: scale(1.1);
}

#hand a:hover {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    transform: scale(1.1);
}

#about {
    /* border: solid red; */
    margin: 50px;
    height: 650;
    width: 550;
}

#about h1, 
#about p,
#img-indicator p {
    color: white;
    padding: 10px;
}   

#about p, #place-about {
    font-size: 25px;
    text-align: justify;
    text-indent: 30px;
    /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
}

#wavflag-img {
    float:right;
    height: auto;
    width: 250px;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 5%;
}

#slider-container {
    /* border: blue solid; */
    margin: 50px;
    display: flex;
    justify-content: flex-start;
}

#slider {
    /* border: red solid; */
    position: relative;
    /* overflow: hidden; if image is too big */
}

#slider img {
    width:500px;
    height:300px;
    display: none;
}

#slider img.displaySlide {
    display: block;
    border-radius: 5%;
}

#slides button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;  
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#prev-button {
    left: 0;
    border-radius: 0 3px 3px 0;
}

#next-button {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#prev-button:hover, #next-button:hover {
    background-color: rgba(0,0,0,0.8);
}

#img-indicator {
    display: flex;
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#place-about {
    /* border: yellow solid; */
    padding: 10px;
    margin-left: 20px;
    color: white;
}

#place-about h1 {
    font-size: 50px;
}

#place-about h1.pisa-Exclusive,
#place-about p.pisa-Exclusive {
    font-style: italic;
}

#food-section {
    min-height: 100vh;
    background-image: url("food_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-evenly; /*y-axis*/
    justify-content: space-evenly; /*x-axis*/

}

#food-section div {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    background-color: white;
    overflow: hidden;
}


#food-section img {
    width: 100%;
    height: 150px;           
    object-fit: cover;           
    display: block;
}

#food-text {
    padding: 10px;
}

#food-section h1, #food-section p {
    color: black;
    text-align: justify;
}

#food-section p {
    text-indent: 30px;
    margin: 5px;
    /* font-size: 20px; */
}

#food-container:hover {
    border-color: black;
    box-shadow: 0 0 25px black,
        0 0 25px black;
    transform: scale(0.9,0.9);
}
